*.properties
*.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.idea/compiler.xml
.idea/copyright/profiles_settings.xml